@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-dark: #da7434;
    --primary-light: #f1975f;
}
@layer base{
    html{
        @apply scroll-smooth
    }
    button{
        @apply px-4 py-2 bg-[var(--primary-dark)] text-white
    }
    section{
        margin-bottom: 5rem;
    }
    .section{
        margin-bottom: 4rem;
    }


    @media(min-width: 768px) and (max-width: 991px) {
        .section{
            margin-bottom: -6rem;
        }
    }
    @media(min-width: 992px) and (max-width: 1199px) {
        .section{
            margin-bottom: -6rem;
        }
    }
}
